@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
li{
	list-style:none;
	}
a:hover{color:#f00;}
a{
	text-decoration:none;
	}
img{
	display:block;
	}
.clearFix:after{
	content:'';
	display:block;
	clear:both;
	}
.clearFix{
	zoom:1;
	}
input,textarea,select{
	outline:none;
	}
textarea{
	resize:none;
	}							
